@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF-bold";
  src: url("/fonts/SF-Pro-Display-Bold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF-regular";
  src: url("/fonts/SF-Pro-Display-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF-medium";
  src: url("/fonts/SF-Pro-Display-Medium.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.bg-gradient-to-r {
  /*background: rgb(0 , 0, 0);*/
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(82, 50, 161) 100%);
}

body {
  background-color: #000000;
}
